* {
text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

/* .container p {
  line-height: 1.5;
  margin: 0.5em 0; 
} */

.flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;

}

h1 {
  color: #333;
}

h2 {
  text-align: center;
}
